nav {
    margin: 30px 350px;
    font-family: Inter , sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}

.nav-text{
    margin-right: 70px;
    text-decoration: none;
    color: black;
}


h2 {
    font-family: Inter , sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 70px; 
}

.text-div {
    margin: 50px 360px;
}

.text {  
    font-family: Inter , sans-serif;
    font-size: 18.5px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;    
}

.list {
    font-family: Inter , sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}

.learn-btn {
    font-family: Inter , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1); 
    padding: 10px 24px 10px 24px;
    border: none;
    background: rgba(4, 149, 158, 1);
    margin: 0px 620px;
}

footer {
    border-top: 1px solid black;
    margin-top: 100px;
}

.footer-text {
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: right;

}
